.skill-container{
    width: 80%;
    margin: 1.25rem auto 3.75rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
    position: relative;
    }
    
    .skill{
    display: inline-block;
    font-weight: 200;
    padding: 0.5rem 1rem;
    border: 0.3px solid #FFFFFF;
    border-radius: 5px;
}

.level::before,
.skill::before{  
    content: '';
    background-color: #CB3AF7;
    position: absolute;
}

.level::before{
    height: 0.2px;
}

.skill::before{
    width: 0.2px;
}

/* first level skills */
.level-1{
    grid-row-start: 1;
    grid-column-start: 16;
    grid-column-end: 17;
}

.level-1::before{
    width: 44%;
    bottom: 104%;
    left: 19%;
}

.skill-1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: end;
}

.skill-1::before,
.skill-2::before{
    bottom: 100%;
}

.skill-1::before{
    height: 6%;
    left: 19%;
}

.skill-2{
    grid-row-start: 1;
    grid-column-start: 9;
    grid-column-end: 13;
}

.skill-2::before{
    height: 4%;
    left: 62.5%
}

/* second level skills */
.level-2{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.level-2::before{
    width: 62.5%;
    bottom: 71%;
    right: 25%;
}

.skill-3{
    grid-row-start: 2;
    grid-column-start: 13;
    grid-column-end: 17;
    justify-self: start;
}

.skill-3::before{
    height: 33%;
    left: 37.5%;
    bottom: 71%;
}

/* thrid level skills */
.level-3{
    grid-row-start: 1;
    grid-column-start: 16;
    grid-column-end: 17;
}

.level-3::before{
    width: 24.75%;
    bottom: 61%;
    left: 56.5%;
}

.skill-4{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: end;
}

.skill-4::before,
.skill-5::before{
    height: 15%;
    bottom: 56%;
}

.skill-4::before{
    left: 12.5%;
}

.skill-5{
    grid-row-start: 3;
    grid-column-start: 7;
    grid-column-end: 11;
    justify-self: end;
}

.skill-5::before{
    left: 56.5%;
}

/* fourth level skills */
.level-4{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.level-4::before{
    width: 31.25%;
    bottom: 28%;
    right: 31.25%;
}

.skill-6{
    grid-row-start: 4;
    grid-column-start: 12;
    grid-column-end: 16;
    justify-self: start;
}

.skill-6::before{
    height: 27%;
    right: 18.75%;
    bottom: 34%;
}

/* fivth level skills */
.skill-7{
    grid-row-start: 5;
    grid-column-start: 5;
    grid-column-end: 9;
    justify-self: start;
}

.skill-7::before{
    height: 15.75%;
    left: 37.5%;
    bottom: 12.25%;
}

@media (min-width: 426px) {
    .skill-container{
        margin: 2rem auto 3.75rem;
        row-gap: 2rem;
    }

    .skill{
        padding: 0.75rem 1.5rem;
        font-size: 1.125rem;
    }

    .level::before{
        height: 0.5px;
    }
    
    .skill::before{
        width: 0.5px;
    }

    /* first level skills */

    .level-1::before{
        width: 50%;
        bottom: 105%;
        left: 12.5%;
    }

    .skill-1{
        justify-self: unset;
    }

    .skill-1::before{
        height: 8%;
        left: 12.5%;
    }

    .skill-2::before{
        height: 5%;
        left: 62.5%
    }

    /* second level skills */

    .level-2::before{
        width: 56.25%;
    }

    .skill-3::before{
        height: 34%;
    }

    /* thrid level skills */

    .level-3::before{
        width: 18.75%;
        bottom: 50%;
        left: 62.5%;
    }

    .skill-4::before,
    .skill-5::before{
        height: 14.5%;
        bottom: 56.625%;
    }

    .skill-4::before{
        left: 18.75%;
    }

    /* fourth level skills */
    .skill-6::before{
        height: 15%;
        bottom: 35%;
    }

    .skill-7::before {
        height: 14.75%;
        bottom: 13.25%;
    }
}


@media (min-width: 769px) {
    .skill{
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }

    .level::before{
        height: 0.75px;
    }
    
    .skill::before{
        width: 0.75px;
    }

    .skill-4::before,
    .skill-5::before{
        height: 14%;
        bottom: 57%;
    }

    .skill-6::before {
        height: 14.25%;
        bottom: 35.625%;
    }

    .skill-7::before {
        height: 13.75%;
        bottom: 14.125%;
    }
}

@media (min-width: 1025px) {
    .skill{
        font-size: 1.5rem;
    }

    .level-1::before{
        width: 51%;
        bottom: 105%;
        left: 11.5%;
    }

    .skill-1::before{
        height: 7%;
        left: 11.5%;
    }

    .level-3::before{
        width: 12.625%
    }

    .level-4::before{
        width: 37.5%;
    }

    .skill-6::before{
        right: 24.9%;
    }

    .skill-7::before{
        left: 31.25%;
    }
}