#skills > .heading::before{
    width: 77%;
}

.skill-container{
    width: 300px;
    margin: 1.25rem auto 3.75rem;
}

.skill-list{
    margin-top: 0.625rem;
    list-style-type: none;
    position: relative;
}

.skill{
    display: inline-block;
    font-weight: 200;
    padding: 0.5rem 1rem;
    border: 0.3px solid #FFFFFF;
    border-radius: 5px;
    position: relative;
}

.skill::before{
    content: '';
    background-color: #CB3AF7;
    position: absolute;
}


.level-1{
    width: 76%;
    display: flex;
    justify-content: space-between;
}

.level-1::before{
    content: '';
    background-color: #CB3AF7;
    position: absolute;
    width: 71.8%;
    height: 0.2px;
    bottom: 125%;
    left: 15.5%;
}

.skill-1::before{
    width: 0.2px;
    height: 50%;
    bottom: 101%;
    left: 50%;
}

.skill-2::before{
    width: 0.2px;
    height: 25%;
    bottom: 101%;
    left: 50%;
}

.level-2,
.level-4{
    display: flex;
    justify-content: end;
}

.level-2::before{
    content: '';
    background-color: #CB3AF7;
    position: absolute;
    width: 55.2%;
    height: 0.2px;
    bottom: 50%;
    right: 31%;
}

.skill-3::before{
    width: 0.2px;
    height: 209%;
    bottom: 50%;
    left: -80%;
}

.level-3{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

}

.skill-4::before, 
.skill-5::before{
    width: 0.2px;
    height: 114%;
    bottom: 101%;
    left: 50%;
}

.skill-5::after{
    content: '';
    background-color: #CB3AF7;
    position: absolute;
    width: 86%;
    height: 0.2px;
    bottom: 135%;
    left: 50%;
}

.level-4{
    margin-top: 30px;
}


.skill-6{
    margin-right: 15px;
}

.skill-6::before{
    width: 0.2px;
    height: 214%;
    bottom: 102%;
    left: 50%;
}

.skill-6::after{
    content: '';
    background-color: #CB3AF7;
    position: absolute;
    width: 134%;
    height: 0.2px;
    bottom: 135%;
    right: 50%;
}

.skill-7{
    margin-left: 60px
}

.skill-7::before{
    width: 0.2px;
    height: 160%;
    bottom: 102%;
    left: 50%;
}
