#about > .heading::before{
    left: 85px;
}

.about-container{
    margin: 1.25rem 2.125rem;
}

.about-text{
    font-weight: 200;
}

.about-para{
    display: block;
    margin-top: 1.25rem;
}

.dots{
    display: inline-block;
    height: 17px;
    max-width: 5rem;
    transition: max-width 1s;
    overflow: hidden;
}

.dots-expended{
    max-width: 0;
    transition: max-width 0.5s;
}

.hidden-text,
.hidden-btn{
    display: inline-block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}


.expended{
    max-height: 20rem;
    transition: max-height 2s;
}

.read-btn-cnt{
    display: flex;
    justify-content: end;
    margin: 1.25rem 0 2.5rem;
}

.hidden-btn{
    margin-top: 0.625rem;
}

.hidden-btn a{
    text-decoration: none;
}

.resume-btn{
    margin-right: 1.25rem;
}

@media (min-width: 426px) {
    #about > .heading::before{
        left: 95px;
    }

    .about-container{
        width: 70%;
        margin: 1.75rem auto 4rem;
        line-height: 1.75;
    }

    .about-text{
        font-size: 1.25rem;
    }

    .dots{
        min-width: 0;
    }

    .hidden-text,
    .hidden-btn{
        max-height: unset;
    }

    .read-btn-cnt{
        display: none;
    }
}

@media (min-width: 769px) {
    #about > .heading::before{
        left: 125px;
    }

    .about-container{
        width: 65%;
    }

    .about-text{
        font-size: 1.5rem;
        line-height: 1.5;

    }
}

@media (min-width: 1080px) {
    #about > .heading::before{
        left: 125px;
    }

    .about-container{
        width: 60%;
    }

    .about-text{
        font-size: 1.625rem;
        line-height: 2;
    }

    .about-para{
        margin-top: 2rem;
    }
}