/* side box styling */
.side-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.3rem;
    width: 30px;
    position: fixed;
    top: 7%
}


.side-box::before{
    content: '';
    position: absolute;
    background-color: #888888;
    width: 0.3px;
    height: 100%;
    bottom: 100%;
    right: 50%;
}

/* navigation bar styling */
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 1.5rem;
}

.nav-items{
    display: flex;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s;
}

.unhidden{
    max-width: 20rem;
    transition: max-width 2s;
    
}

.nav-item{
    font-size: 0.75rem;
    margin-right: 1.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    transform: rotate(1turn);
    transition: transform 0.5s;
}

.menu-btn img{
    width: 20px;
}

.rotate{
    transform: rotate(0);
    transition: transform 2s;
}

.rotate img{
    width: 15px;
    height: 20px;
}

/* nav style */
@media (min-width: 426px){
    .nav-items{
        max-width: 25rem;
    }

    .menu-btn{
        display: none;
    }

    .nav-item{
        font-size: 1rem;
    }
}
