/* side box styling */
.side-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    /* border: 0.3px solid #FFFFFF; */
    width: 30px;
    position: fixed;
    top: 7%
}

.side-box::before{
    content: '';
    position: absolute;
    background-color: #888888;
    width: 0.3px;
    height: 100%;
    bottom: 100%;
    right: 50%;
}

/* navigation bar styling */
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
}

.nav-items{
    display: flex;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s;
}

.unhidden{
    max-width: 20rem;
    transition: max-width 2s;
    
}

.nav-item{
    font-size: 0.54rem;
    margin-right: 1.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    transform: rotate(1turn);
    transition: transform 0.5s;
}

.rotate{
    transform: rotate(0);
    transition: transform 2s;
}


