.purple{
    color: #CB3AF7;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: auto;
}

.heading-text{
    margin-right: 16px;
}

.line {
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: #888888;
}