.projects-section{
    width: 80%;
    margin: 1.5rem auto;
}

.project-container,
.project-content,
.project-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container{
    margin-bottom: 1.25rem;
}

.project-heading{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    align-self: start;
}

.project-img{
    width: 220px;
}

.project-des{
    font-weight: 200;
    margin: 1rem 0px 1rem;
    text-align: center;
}

.project-link .btn{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.hidden{
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.expended{
    max-height: 50rem;
    transition: max-height 2s;
}

.view-btn-cnt{
    margin: 0px 2.125rem 3.75rem;
    display: flex;
    justify-content: end;
}

@media (min-width: 426px) {
    .project-img{
        width: 100%;
        height: unset;
    }

    .project-des{
        font-size: 1.125rem;
    }
}

@media (min-width: 769px) {
    .projects-section{
        width: 80%;
        margin: 2rem auto 4rem;
    }

    .project-container{
        margin-bottom: 2rem;
    }
    .project-heading{
        font-size: 1.5rem;
    }
    
    .project-content{
        flex-direction: row;
        gap: 2rem;
        align-items: normal;
    }
    
    .project-img{
        min-width: 50%;
        height: unset;
    }
    
    .project-des{
        font-size: 1.25rem;
        margin: 0rem 0px 2rem;
        text-align: unset;
    }
    
    .project-link {
        align-self: end;
        margin-right: 1rem;
    }

    .project-link a{
        text-decoration: none;
    }
    
    .hidden{
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    .view-btn-cnt{
        display: none;
    }
}

@media (min-width: 1180px) {
    .projects-section{
        width: 910px;
        margin: 2rem auto 4rem;
    }

    .project-container{
        margin-bottom: 2rem;
    }
    .project-heading{
        font-size: 2rem;
    }
    
    .project-content{
        flex-direction: row;
        gap: 2rem;
        align-items: normal;
    }
    
    .project-img{
        width: 450px;
        height: 230px;
    }
    
    .project-des{
        font-size: 1.5rem;
        margin: 0rem 0px 2rem;
    }
    
    .project-link {
        align-self: end;
        margin-right: 1rem;
    }

    .project-link a{
        text-decoration: none;
    }
    
    .hidden{
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    .view-btn-cnt{
        display: none;
    }
}